<p>
<%= link_to "new card", new_card_path %>
</p>
<%= will_paginate %>
<table>
	<tr>
		<td>bank name</td>
		<td>card num</td>
		<td>credit limit</td>
		<td>statment date</td>
		<td>payment due date</td>
		<td>remark</td>
	</tr>
	
	<%= render @cards %>
	
</table>